.footer {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  margin-top:10px;
  h5 {
    color:#6c6c6c;
    font-weight: normal;
    margin-bottom:0;
  }
 

  
  form {
    display: flex;
    flex-direction: row; 
    margin-top:5px;
    button{
      color:white;
      background-color: black;
      text-decoration: none;
    }
  }

  h6 {
    margin-top: 8px;
    color:#616060;
    span{
      margin-left:3px;
      text-decoration: underline;
      
    }
  }
}



.form-group {
  position:relative;
  
  
  .placeholder {
    position:absolute;
    color:#6c6c6c;
    left:15px;
    top:5px;
    bottom:10px;
    font-size: 10px;

  }

}



@media only screen and (min-width: 440px) {
  .header {
    .logo {
      margin-left:20px;
    }
  }
}